@{
    Layout = "_LayoutAuth";
    string message = null;
    if (TempData["Message"] is not null)
    {
        message = TempData["Message"].ToString();
    }
}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                @* <div class="d-flex justify-content-center py-4"> *@
                @*     <a href="/" class="logo d-flex align-items-center w-auto"> *@
                @*         <img src="/theme/assets/img/logo.png" alt=""> *@
                @*         <span class="d-none d-lg-block">Simple ATM Application</span> *@
                @*     </a> *@
                @* </div><!-- End Logo --> *@

                <div class="card mb-3">
                    @if (message is not null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @message
                        </div>
                    }
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                            <p class="text-center small">Enter your Card Number & Pin to login</p>
                        </div>

                        <form action="/atmaction/login" method="post" class="row g-3 needs-validation" novalidate>

                            <div class="col-12">
                                <label for="cardNum" class="form-label">Card Number</label>
                                <input type="password" name="CardNumber" class="form-control" id="cardNum" required>
                                <div class="invalid-feedback">Please enter your pin!</div>
                            </div>

                            <div class="col-12">
                                <label for="pin" class="form-label">Pin</label>
                                <input type="password" name="Pin" class="form-control" id="pin" required>
                                <div class="invalid-feedback">Please enter your pin!</div>
                            </div>

                            @* <div class="col-12"> *@
                            @*   <div class="form-check"> *@
                            @*     <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe"> *@
                            @*     <label class="form-check-label" for="rememberMe">Remember me</label> *@
                            @*   </div> *@
                            @* </div> *@
                            <div class="col-12 mt-5">
                                <button class="btn btn-primary w-100" type="submit">Login</button>
                            </div>
                            <div class="col-12">
                                <p class="small mb-0">Don't have account? <a href="/atmaction/register">Create an account</a></p>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
