@model CardHolderDataModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutATM";
}

@section style
{
    <style>
        .btn-custom {
          font-size: 1.2rem;
          background-color: #3072ee;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          border: none;
          padding: 10px 30px;
          color: white;
          margin-left: 3px;
        }
    </style>
}

<h4 class="mt-5 mb-2 fw-bold">Welcome!! @Context.Session.GetString("_AuthenticatedUserName");</h4>
<p class="mb-5 fw-bold">Please choose from one of the following options</p>

<button type="button" class="btn btn-custom fw-bold" data-bs-toggle="modal" data-bs-target="#depositModal">
    @* <i class="fa-solid fa-money-bill-transfer fa-2xl"></i> *@
    Deposit
</button>
<button type="button" class="btn btn-custom fw-bold" data-bs-toggle="modal" data-bs-target="#withdrawModal">
    Withdraw
</button>
<button type="button" class="btn btn-custom fw-bold" id="showBalanceButton">
    Show Balance
</button>
<button type="button" class="btn btn-custom fw-bold" id="exitButton">
    Exit
</button>

<!--Deposit Modal -->
<div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="depositModalLabel">Deposit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="depositAmount" class="form-label mb-3">How much would you like to deposit</label>
                    <input type="number" class="form-control" id="depositAmount" placeholder="Enter Amount">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="depositButton">Deposit</button>
            </div>
        </div>
    </div>
</div>

<!--Withdraw Modal -->
<div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="withdrawModalLabel">Withdraw</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="withdrawAmount" class="form-label mb-3">How much would you like to withdraw</label>
                    <input type="number" class="form-control" id="withdrawAmount" placeholder="Enter Amount">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="withdrawButton">Withdraw</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('#depositButton').click(function() {
              let depositValue = $('#depositAmount').val();
              $.ajax({
                url: '/atmaction/deposit',
                method: 'POST',
                data: {
                  DepositAmt: depositValue
                },
                success: function(response) {
                    $('#depositModal').modal('hide');
                    $('#depositAmount').val('');
                    showMsg(response);
                  console.log('Deposit successful');
                },
                error: function(xhr, status, error) {
                    $('#depositModal').modal('hide');
                    $('#depositAmount').val('');
                    errorMessage("Failed to save deposit.");
                  console.error('Error');
                }
              });
        });
        
        $('#withdrawButton').click(function() {
                      let withdrawValue = $('#withdrawAmount').val();
                      $.ajax({
                        url: '/atmaction/withdraw',
                        method: 'POST',
                        data: {
                          WithdrawAmt: withdrawValue
                        },
                        success: function(response) {
                          $('#withdrawModal').modal('hide');
                          $('#withdrawAmount').val('');
                          showMsg(response);
                          console.log('Withdraw successful:', response);
                        },
                        error: function(xhr, status, error) {
                          $('#withdrawModal').modal('hide');
                          $('#withdrawAmount').val('');
                          errorMessage("Failed to save withdraw.");
                          console.error('Error:', error);
                        }
                      });
                });
        
        $('#showBalanceButton').click(function() {
            $.ajax({
              url: '/atmaction/showbalance',
              method: 'GET',
              dataType: 'json',
              success: function(response) {
                showInfoMessage(response);
                console.log('Balance:', response);
              },
              error: function(xhr, status, error) {
                errorMessage("Card holder not found.");
                console.error('Error:', error);
              }
            });
          });
        
        $('#exitButton').click(function (){
            window.location.href = '/atmaction/exit';
        });
    </script>
}