@model StudentDataModel

<h4>Blog</h4>
<partial name="_ValidateMessage" />
<form method="post" action="/Student/Update/@Model.Student_Id">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="Student_Name" value="@Model.Student_Name" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" name="Student_City" value="@Model.Student_City" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <input type="text" name="Student_Gender" value="@Model.Student_Gender" class="form-control">
    </div>
    <button type="button" class="btn btn-secondary">Back</button>
    <button type="submit" class="btn btn-success">Update</button>
</form>