<form action="/student/save" method="post">
    <div class="mb-3">
        <label class="form-label">Student Name</label>
        <input type="text" name="Student_Name" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Student City</label>
        <input type="text" name="Student_City" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Student Gender</label>
        <input type="text" name="Student_Gender" class="form-control">
    </div>
    <a href="/student" class="btn btn-secondary">Cancle</a>
    <button type="submit" class="btn btn-success">Save</button>
</form>