@model StudentResponseModle
@{
    string controllerName = null;

    if (TempData["ControllerName"] != null)
    {
        controllerName = TempData["ControllerName"].ToString();
    }
}
<form action="/@controllerName/update/@Model.StudentDataModel.Student_Id" method="post">
    <div class="mb-3">
        <label class="form-label">Student Name</label>
        <input type="text" name="Student_Name" value="@Model.StudentDataModel.Student_Name" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Student City</label>
        <input type="text" name="Student_City" value="@Model.StudentDataModel.Student_Gender" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Student Gender</label>
        <input type="text" name="Student_Gender" value="@Model.StudentDataModel.Student_Gender" class="form-control">
    </div>
    <a href="/@controllerName" class="btn btn-secondary">Cancle</a>
    <button type="submit" class="btn btn-success">Update</button>
</form>