@model StudentListResponseModel;
@{
    int count = 0;
}
<table class="table">
    <thead>
        <tr>
            @* <th scope="col">Action</th> *@
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stu in Model.ListStudentDataModel)
        {
            <tr>
                @* <td>
                    <a class="btn btn-warning" href="/student/edit/@stu.Student_Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-danger" href="/student/delete/@stu.Student_Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td> *@
                <th scope="row">@(++count)</th>
                <td>@stu.Student_Name</td>
                <td>@stu.Student_City</td>
                <td>@stu.Student_Gender</td>
            </tr>
        }
    </tbody>
</table>
